<%- include('../partials/header') %>

<h1>Create New Quiz</h1>
<hr>

<form method="POST" action="/quizzes">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="/quizzes" class="btn btn-secondary">Cancel</a>
</form>

<%- include('../partials/footer') %>